.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 2000;
    background: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    .wrapper {
        padding: 10px 30px 10px 20px;
        display: flex;
        justify-content: space-between;

        .item {
            display: flex;
            align-items: center;
            font-size: 17px;
        }
        .link {
            text-transform: capitalize;
        }
        .link:hover {
            color: #148fde;
        }
        .left {
            display: flex;
            align-items: center;
            gap: 25px;

            i {
                margin-left: 4px;
            }
        }
        .center {
            font-size: 23px;
            letter-spacing: 2px;

            .mobile-menu-icon {
                display: none;
            }
        }
        .right {
            display: flex;
            align-items: center;
            gap: 25px;

            .icons {
                display: flex;
                gap: 20px;
                cursor: pointer;
                font-size: 18px;
                color: #777;
                span {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: -10px;
                    right: -10px;
                    font-size: 14px;
                    background: #148fde;
                }
                .favorite-icon {
                    position: relative;
                }
                .cart-icon {
                    position: relative;
                }
            }
        }
    }
    .mobile-menu {
        display:none;
        height: 180px;
        background: #fff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    }
}
@media (max-width: 600px) {
    .nav-bar {
        .wrapper {
            padding: 10px 20px;
            .left {
                display: none
            }
            .center {
                font-size: 25px;
                width: 100%;
                letter-spacing: 2px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .hamburger-menu {
                    width: 25px;
                    height: 25px;
                    background: url('../../images/bars-staggered.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                    cursor: pointer;
                }
                .hamburger-menu.active {
                    width: 25px;
                    height: 25px;
                    background: url('../../images/xmark.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                    cursor: pointer;
                }
                .mobile-menu-icon {
                    display: flex;
                    position: relative;
                    font-size: 17px;
                    color: #777;
                    cursor: pointer;
                    gap: 15px;
                    .favorite-icon {
                        position: relative;
                        span {
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            top: -10px;
                            right: 0px;
                            color: #fff;
                            font-size: 14px;
                            background: #148fde;
                        }
                    }
                        
                    .fa-heart{
                        margin-right: 10px;
                    }
                    span {
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        top: -10px;
                        right: -10px;
                        font-size: 14px;
                        background: #148fde;
                    }
                }
            }
            .right {
                display: none;
            }
        }
        .mobile-menu {
            display: block;
            padding: 5px 20px;
            .item {
                margin: 4px 0;
                .link {
                    text-transform: capitalize;
                    padding: 3px 0 3px 0;
                    display: inline-block;
                }
                .link:hover {
                    color: #148fde;
                }
                i {
                    color: #777;
                    cursor: pointer;
                    font-size: 17px;
                }
            }
            .item:first-child {
                margin-top: 0;
            }
            .item:last-child {
                margin-bottom: 0;
            }
        }
        .mobile-menu.inactive {
            display: none;
        }
        .mobile-menu.active {
            display: block;
        }
    }
}